/* special table-striped */
/*.table-hover tbody tr:hover td{
	background-color: #FFFFE6 !important; 
}*/
/** footer **/
.table tfoot input[type='text'], .table tfoot select	{
	margin-bottom: 0px; 
	margin-right: 5px;
	width:120px;
} 
.table tfoot input[type='button']	{
	margin-bottom: 0px; 	margin-bottom: 0px; 
	margin-right: 5px;
}

.table tfoot tr td div{
	position:absolute;
	bottom:2px;  
	padding:5px 0px 5px 5px; 	
}

.table tfoot a {
	cursor:pointer; 
}

.table tfoot span.moo-foot-left {
	float: left;
	padding-left: 8px;
}

.table tfoot span.moo-foot-right {
	float: right;
	padding-right: 0px;
	margin-top: 5px;
}

.table tfoot .search {
	float: left;
	padding-left: 8px;
	margin:0px
}
 
.table span.moo-foot-right a, .table span.moo-active-page, .table .moo-active-page-noclick { 
  padding: 5px 14px; 
}

.table .moo-active-page-noclick {color:#ccc;}

.table tfoot span.moo-foot-right a:hover {
	background-color: #E5E6E6;
	color:#000;
	text-shadow:#fff 0 1px 0; 
}
.table span.moo-active-page {
	background-color: #FFF;
	color:#000;
	text-shadow:#fff 0 1px 0; 
	border-radius:4px;
}  

.moo-table td.cmd 	{ 
	 vertical-align:bottom;  	 	
}
.cmd .btn-group{float:right !important;}

.moo-table td.cmd a	{
	margin-bottom: 0px;
} 

/* Used inside the grid for coloumn item */
.grb1	{color:gray;  font-size:11px;}
.grb1:before{content:" - "; color:gray;}